
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: center;
    width: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

.animal {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 100%;
    list-style: none;
    padding-left: 0;
    border: 3px solid #111111;
}

.species {
    background-color: #39CCCC;
    font-weight: bolder;
    font-size: 3rem;
    color: #111111;
    margin: 0;
    padding-bottom: 5px;
    border: 3px solid #111111;
}

.facts {
    background-color: #85144B;
    color: #FF851B;
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 0;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}
